body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #2b0040;
  color: white;
  text-align: center;
  overflow: hidden;
}

.container {
  padding: 40px 20px;
  position: relative;
  z-index: 2;
}

h1 {
  font-size: 2.5em;
}

p {
  max-width: 600px;
  margin: 20px auto;
}

/* BOTÕES */
button {
  padding: 12px 25px;
  margin: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background: white;
  color: #6a0dad;
  transition: 0.3s;
}

button:hover {
  background: #e6ccff;
}

.sim {
  background: #a855f7;
  color: white;
}

.nao {
  background: #444;
  color: white;
  position: relative;
}

/* CARTA SIMPLES E ELEGANTE */
.carta {
  width: 320px;
  margin: 30px auto;
  padding: 25px;

  background: linear-gradient(145deg, #5a0d82, #7b1fa2);
  border-radius: 15px;

  box-shadow: 0 10px 25px rgba(0,0,0,0.4);

  animation: aparecerCarta 0.6s ease;
}

.carta p {
  margin: 0;
  line-height: 1.5;
  font-size: 1em;
}

/* ANIMAÇÃO SUAVE */
@keyframes aparecerCarta {
  from {
    opacity: 0;
    transform: translateY(20px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
/* CORAÇÕES */
.heart {
  position: fixed;
  top: -10px;
  color: #8b0000;
  font-size: 20px;
  animation: fall linear infinite;
  z-index: 1;
}

@keyframes fall {
  to {
    transform: translateY(110vh);
  }
}